.bg-image-home {
  background: url(./images/home_image.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.bg-image-about {
  background: url(./images/about_bg.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.darken {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(./images/about_bg.jpg);
}

.darken-home {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(./images/home_image.jpg);
}

.logo-font {
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
}

.zoom:hover {
  transform: scale(1.05)
}

.donation-form {
height: 100vh;
padding: 0;
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
}
