.bg-image {
  background: url(./images/home_image.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.logo-font {
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
}
